{# empty Twig template #}



{% set newArray = [] %}



{% for findcategorie in findcategories %}
     {% if findcategorie.TYPE not in newArray %}
      
         <li><a href="{{path ('categorieproduits',{'categorie': findcategorie.type}) }}">{{ findcategorie.type|slice(6, findcategorie.type|length)|capitalize}}</a>
    </li>

 {% set newArray = newArray|merge([findcategorie.type]) %}
   {% endif %}

{% endfor %}