{# empty Twig template #}



{% set newArray = [] %}



{% for marque in marques|sort%}
    {% if marque.nom not in newArray %}

        <div class="checkbox">
            <label> 
                <a href="{{path ('marquesprods',{'marque':marque.id})}}" >  
                {{marque.nom}}
             </a>
            </label> 
    
        </div>

        {% set newArray = newArray|merge([marque.nom]) %}
    {% endif %}

{% endfor %}


