{# empty Twig template #}
 <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Categories</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked category-menu">
                                   
                                <li>
                                 
                                    <a href="#">Men <span class="badge pull-right"> {% render (controller('TunisiamalltunisiamallBundle:produit:countH')) %}  </span></a>
                                   <ul> 
                                      {% render (controller('TunisiamalltunisiamallBundle:produit:menuH')) %}
                                   
                                      </ul>
                                </li>
                                     
                              <li>
                                 
                                    <a href="#">Ladies <span class="badge pull-right">{% render (controller('TunisiamalltunisiamallBundle:produit:countF')) %}</span></a>
                                   <ul> 
                                      {% render (controller('TunisiamalltunisiamallBundle:produit:menuF')) %}
                                   
                                      </ul>
                                </li>
                                <li>
                                 
                                    <a href="#">Kids <span class="badge pull-right">{% render (controller('TunisiamalltunisiamallBundle:produit:countE')) %}</span></a>
                                   <ul> 
                                      {% render (controller('TunisiamalltunisiamallBundle:produit:menuE')) %}
                                   
                                      </ul>
                                </li>

                            </ul>

                        </div>
                    </div>

                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>

                        <div class="panel-body">

                            <form>
                                <div class="form-group">
                                       
                                    
                                    {% render (controller('TunisiamalltunisiamallBundle:marque:menu')) %}
                                   
                                    
                                    
                                </div>

                                <a class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</a>

                            </form>

                        </div>
                    </div>

                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Colours <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>

                        <div class="panel-body">

                            <form>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour white"></span> White (14)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour blue"></span> Blue (10)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour green"></span> Green (20)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour yellow"></span> Yellow (13)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour red"></span> Red (10)
                                        </label>
                                    </div>
                                </div>

                                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                            </form>

                        </div>
                    </div>

                    <!-- *** MENUS AND FILTERS END *** -->

                    <div class="banner">
                        <a href="#">
                            <img src="{{ asset("img/banner.jpg")}}" alt="sales 2014" class="img-responsive">
                        </a>
                    </div>