{# empty Twig template #}


                <form action="{{ path('rechercheproduits') }}" method="POST" class="navbar-form" role="search">
                     <div class="input-group">
                    {{ form_widget(form.recherche) }}
                   
                     
                        <span class="input-group-btn">

			<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

		    </span>
                          {{ form_widget(form) }}
                    </div>
                </form>



