   {% if is_granted('ROLE_ADMIN') %}
{% trans_default_domain 'FOSUserBundle' %}


 

                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
               
                {{ form_widget(form)}}

                 
               
  

       <input type="submit" value="{{ 'register'|trans }}" class="btn btn-primary"> 
    </div>

                            
                             
                    
                      {{ form_end(form) }}
                        
                        
             {% else  %} 
               
{% trans_default_domain 'FOSUserBundle' %}


 


<div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li>New account / Sign in</li>
                    </ul>

                    
             
                    <div class="box">
                        <h1>New account</h1>

                        <p class="lead">Not our registered customer yet?</p>
                        <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
                        <p class="text-muted">If you have any questions, please feel free to <a href="{{ path('contact')}}">contact us</a>, our customer service center is working for you 24/7.</p>
{% if form.email.vars.errors[0].message is defined %}
            <div class="alert alert-danger" role="alert">
                {{ form.email.vars.errors[0].message }}
            </div>
            {% endif %}
            
            {% if form.username.vars.errors[0].message is defined %}
            <span class="alert alert-danger" role="alert">
                {{ form.username.vars.errors[0].message }}
            </span>
            {% endif %}
            {% if form.plainPassword.first.vars.errors[0].message is defined %}
            <span class="alert alert-danger" role="alert">
                {{ form.plainPassword.first.vars.errors[0].message }}
            </span>
            {% endif %}
            
            {% if form.plainPassword.second.vars.errors[0].message is defined %}
            <span class="alert alert-danger" role="alert">
                {{ form.plainPassword.second.vars.errors[0].message }}
            </span>
            {% endif %}
            
            {% if form.sexe.vars.errors[0].message is defined %}
            <span class="alert alert-danger" role="alert">
                {{ form.sexe.vars.errors[0].message }}
            </span>
            {% endif %}
            
            
                        <hr>
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
               
                {{ form_widget(form)}}

                 
                 <br>
                 <div class="text-center">
          
    
  
  

       <input type="submit" value="{{ 'register'|trans }}" class="btn btn-primary"> 
    </div>

                            
                             
                    
                      {{ form_end(form) }}
                        
                        
                        
   
                 
                    </div>
         

            
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

 {% endif %}
   
   