
{% extends "FOSUserBundle::layout.html.twig" %}


{% block fos_user_content %}
   {% if is_granted('ROLE_ADMIN') %}
{% include "LabessBackofficeBundle::register_content.html.twig" %}
   {% else  %} 
       {% include "FOSUserBundle:Registration:register_content.html.twig" %}
          {% endif %} 
{% endblock fos_user_content %}
