{# empty Twig template #}
{% extends "::layout.html.twig" %}
{% set i=0 %} 
{% block body %}
  <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li>Checkout - Order review</li>
                    </ul>
                </div>

                <div class="col-md-9" id="checkout">

                    <div class="box">
                        
                            <h1>Checkout - Order review</h1>
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="{{ path ('checkout1')}}"><i class="fa fa-map-marker"></i><br>Address</a>
                                </li>
                                <li><a href="{{ path ('checkout2')}}"><i class="fa fa-truck"></i><br>Delivery Method</a>
                                </li>
                                <li><a href="{{ path ('checkout3')}}"><i class="fa fa-money"></i><br>Payment Method</a>
                                </li>
                                <li class="active"><a href="#"><i class="fa fa-eye"></i><br>Order Review</a>
                                </li>
                            </ul>

                            <div class="content">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Quantity</th>
                                                <th>Unit price</th>
                                                <th>Discount</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for produit in commande.commande.produit %}
                                                
                                            <tr>
                                                <td>
                                                    <a href="#">
                                                        <img src="{{ asset(''~ produit.photo)}}" alt="White Blouse Armani">
                                                    </a>
                                                </td>
                                                <td><a href="#">{{produit.nom}}</a>
                                                </td>
                                                <td>{{produit.quantite}}</td>
                                                <td>${{produit.prix}}</td>
                                               <td>%{{produit.tauxreduction}}</td>
                                                <td>${{produit.prix|reduction(produit.tauxreduction) * produit.quantite}}</td>
                                            </tr>
                                                   
                                            {% set i=i+1 %}
                                            {% endfor  %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="5">Total</th>
                                               {# <th>${{total}}</th>#}
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                               
                           <div class="box-footer">
                                <div class="pull-left">
                    <h4>Delivery Address</h4>
                    {{commande.commande.livraison.nom}} {{commande.commande.livraison.prenom}} <br>
                    {{commande.commande.livraison.adresse}} , {{ commande.commande.livraison.zip}} {{ commande.commande.livraison.ville }} - {{ commande.commande.livraison.pays }} <br>
                    
                            </div>
                           
                             <div class="pull-right">
                    <h4>Billing Address</h4>
                    {{commande.commande.livraison.nom}} {{commande.commande.livraison.prenom}} <br>
                    {{commande.commande.livraison.adresse}} , {{ commande.commande.livraison.zip}} {{ commande.commande.livraison.ville }} - {{ commande.commande.livraison.pays }} <br>
                    
                            </div>
                             
                           </div><br> <br>
                            <form action="{{ path('validationCommande', { 'id' : commande.id }) }}" method="POST"/>
                <input name="token" type="hidden" value="{{ commande.commande.token }}" />
                <input name="prix" type="hidden" value="{{ commande.commande.prixreduc }}" />
                <input name="date" type="hidden" value="{{ commande.date|date('dmyhms') }}" />
                <button type="submit" class="btn btn-primary">Pay</button>
            </form>
                     
                   
                            </div>
                            <!-- /.content -->
              
                    </div>
                                            
                                            
                                            
                                            
                 </div>
                            
                    <div class="col-md-3">
                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Order summary</h3>
                        </div>
                        <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Order subtotal</td>
                                       <th>{{ commande.commande.prixtotal}}</th> 
                                    </tr>
                                    <tr>
                                        <td>Reduction</td>
                                        <th>
                                        
                           
                
                 {% for key, reduction in commande.commande.reduction %}
                    <dt>{{ key }} :</dt><dd>{{ reduction }} €</dd>
                {% endfor %}

                                        </th>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <th>$0.00</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                      <th>${{commande.commande.prixreduc}}</th> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                    <div class="box">
                        <div class="box-header">
                            <h4>Coupon code</h4>
                        </div>
                        <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                        <form>
                            <div class="input-group">

                                <input type="text" class="form-control">

                                <span class="input-group-btn">

					<button class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>

				    </span>
                            </div>
                            <!-- /input-group -->
                      
                    </div>

                </div>
                <!-- /.col-md-3 -->
         

            
            
            </div>
  
  
  
  </div>
          {% endblock %}