{# empty Twig template #}
{% extends "::layout.html.twig" %}
{% set total=0 %}
 {% set totalsansreduc=0 %}   
 {% set refreduc = {} %}
 {% for produit in produits %}
    {% set refreduc = refreduc|merge({ ('%' ~ produit.tauxReduction) : 0 }) %}
{% endfor %}

{% block body %}
<div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li>Checkout - Address</li>
                    </ul>
                </div>

                <div class="col-md-9" id="checkout">

                    <div class="box">
                        {#<form method="post" action="{{ path ('checkout2')}}">#}
                            <h1>Checkout</h1>
                            <ul class="nav nav-pills nav-justified">
                                <li class="active"><a href="#"><i class="fa fa-map-marker"></i><br>Address</a>
                                </li>
                               
                                <li class="disabled"><a href="#"><i class="fa fa-eye"></i><br>Order Review</a>
                                </li>
                            </ul>

                            <div class="content">
                                 <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                            <div class="col-sm-6">
                        {% if utilisateur.adresses|length != 0 %}
                        <form action="{{ path('validation') }}" method="POST">
                            
                            <h4>Delivery Address</h4>
                            {% for adresse in utilisateur.adresses %}
                            <label class="radio">
                                <input type="radio" name="livraison" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked"{% endif %}>
                                {{ adresse.adresse }}, {{ adresse.zip}} {{ adresse.ville }} - {{ adresse.pays }} <a href="{{ path('livraisonAdresseSuppression', { 'id' : adresse.id }) }}">Delete<i class="icon-trash"></i></a>
                                <br />{{ utilisateur.prenom }} {{ utilisateur.nom }}
                            </label>
                            
                            {% endfor %}
                        </div>
                          
                              <div class="col-sm-6">
                            <h4>Billing address</h4>
                            {% for adresse in utilisateur.adresses %}
                            <label class="radio">
                                <input type="radio" name="facturation" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked"{% endif %}>
                                {{ adresse.adresse }}, {{ adresse.zip }} {{ adresse.ville }} - {{ adresse.pays }} <a href="{{ path('livraisonAdresseSuppression', { 'id' : adresse.id }) }}">Delete<i class="icon-trash"></i></a>
                                <br />{{ utilisateur.prenom }} {{ utilisateur.nom }}
                            </label>
                            {% endfor %}
                            
                            <br />
                            
                            <button class="btn btn-primary">Validate</button>
                        </form>
                        {% endif %}
                    </div>
                          <div class="span4 offset2">
                        <h4>Add a new address</h4>
                        <form action="{{ path('checkout1') }}" method="POST">
                           
                            
                             <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Country:</label>
                                            {{ form_widget(form.pays) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>City:</label>
                                           {{ form_widget(form.ville) }}
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Address:</label>
                                            {{ form_widget(form.adresse) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Zip code:</label>
                                            {{ form_widget(form.zip) }}
                                        </div>
                                    </div>
                                </div>
                            
                            
                            <button class="btn btn-primary" type="submit">Add</button>
                            {{ form_rest(form)}}
                        </form>
                    </div>
                            </div>
</div>
                            </div>
                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="{{path ('panier')}}" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to basket</a>
                                </div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Continue to Delivery Method<i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                     {#   </form> #}
                    </div>
                    <!-- /.box -->


                </div>
                <!-- /.col-md-9 -->

                <div class="col-md-3">
 {% for produit in produits %}
     {% set total= total + (produit.prix|reduction(produit.tauxReduction) * panier[produit.id])%} 
                                      {% set totalsansreduc= totalsansreduc + (produit.prix * panier[produit.id])%} 
                                      {% set refreduc = refreduc|merge({ ('%' ~ produit.tauxReduction) : refreduc['%' ~ produit.tauxReduction] + ( produit.prix * panier[produit.id])|montantreduc(produit.tauxReduction) }) %}       
                                {% endfor %}
                  <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Order summary</h3>
                        </div>
                        <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Order subtotal</td>
                                        <th>${{totalsansreduc}}</th>
                                    </tr>
                                    <tr>
                                        <td>Reduction</td>
                                        <th>
                                        
                                        {% for key, reduc in refreduc %}
                    <dt>{{ key }} :</dt><dd>{{ reduc }} €</dd>
                {% endfor %}
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <th>$0.00</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>${{total}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        
        
          {% endblock %}