{# empty Twig template #}
{% extends "::layout.html.twig" %}
{% set total=0 %}
 {% set totalsansreduc=0 %}   
 {% set refreduc = {} %}
 {% for produit in produits %}
    {% set refreduc = refreduc|merge({ ('%' ~ produit.tauxReduction) : 0 }) %}
{% endfor %}

{% block body %}

    
<div id="content">
            <div class="container">
{% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li>Shopping cart</li>
                    </ul>
                </div>
 
                <div class="col-md-9" id="basket">

                    <div class="box">

                                    
                                   
                    
                            
                            
                             {% if produits|length != 0 %}
                             <p class="text-muted"> You currently have {{produits|length}} item(s) in your cart.</p>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th>Unit price</th>
                                            <th>Discount</th>
                                            <th colspan="2">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                               
                    {% for produit in produits %}
                        
                                        <tr>
                                             <form id="form1" name="form1" action="{{ path('ajouter', { 'id' : produit.id }) }}" method="get">
                                            <td>
                                                <a href="#">
                                                    <img src="{{ asset(''~ produit.photo)}}" alt="{{ produit.nom}}">
                                                </a>
                                            </td>
                                            <td><a href="#">{{ produit.nom}}</a>
                                            </td>
                                            <td>
                                               <select name="qte" class="span1" onChange="this.form.submit()">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>&nbsp;
                                            </td>
                                            <td>${{produit.prix}}</td>
                                            <td>%{{produit.tauxReduction}}</td>
                                            <td>${{produit.prix|reduction(produit.tauxReduction) * panier[produit.id]}}</td>
                                            <td><a href="{{ path('supprimer', { 'id' : produit.id }) }}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                             </form>
                                        </tr>
                                    {% set total= total + (produit.prix|reduction(produit.tauxReduction) * panier[produit.id])%} 
                                      {% set totalsansreduc= totalsansreduc + (produit.prix * panier[produit.id])%} 
                                      {% set refreduc = refreduc|merge({ ('%' ~ produit.tauxReduction) : refreduc['%' ~ produit.tauxReduction] + ( produit.prix * panier[produit.id])|montantreduc(produit.tauxReduction) }) %}       
                                {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Total</th>
                                            <th colspan="2">{{total}}</th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="category.html" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-default"><i class="fa fa-refresh"></i> Update basket</button>
                                    <a href="{{path ('checkout1')}}"class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>

                      

                    </div>
                    <!-- /.box -->
{% else %}
                            <h1>Shopping cart</h1>
                                    
                       
                            <p class="text-muted">You have no products in your shopping cart.</p>
                       
    
{% endif %}
                    <div class="row same-height-row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box same-height">
                                <h3>You may also like these products</h3>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{path ('presentation',{'id':'Fur coat with very but very very long name'})}}">
                                                <img src="{{asset("img/product2.jpg")}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{path ('presentation',{'id':'Fur coat with very but very very long name'})}}">
                                                <img src="{{ asset("img/product2_2.jpg")}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path ('presentation',{'id':'Fur coat with very but very very long name'})}}" class="invisible">
                                    <img src="{{ asset("img/product2.jpg")}}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{path ('presentation',{'id':'Fur coat with very but very very long name'})}}">
                                                <img src="{{ asset("img/product1.jpg")}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{path ('presentation',{'id':'Fur coat with very but very very long name'})}}">
                                                <img src="{{ asset("img/product1_2.jpg")}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path ('presentation',{'id':'Fur coat with very but very very long name'})}}" class="invisible">
                                    <img src="{{ asset("img/product1.jpg")}}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{path ('presentation',{'id':'Fur coat with very but very very long name'})}}">
                                                <img src="{{ asset("img/product3.jpg")}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{path ('presentation',{'id':'Fur coat with very but very very long name'})}}">
                                                <img src="{{ asset("img/product3_2.jpg")}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path ('presentation',{'id':'Fur coat with very but very very long name'})}}" class="invisible">
                                    <img src="{{ asset("img/product3.jpg")}}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                    </div>


                </div>
                <!-- /.col-md-9 -->
  {% if produits|length != 0 %}
                <div class="col-md-3">
                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Order summary</h3>
                        </div>
                        <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Order subtotal</td>
                                        <th>${{totalsansreduc}}</th>
                                    </tr>
                                    <tr>
                                        <td>Reduction</td>
                                        <th>
                                        
                                        {% for key, reduc in refreduc %}
                    <dt>{{ key }} :</dt><dd>{{ reduc }} €</dd>
                {% endfor %}
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <th>$0.00</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>${{total}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                    <div class="box">
                        <div class="box-header">
                            <h4>Coupon code</h4>
                        </div>
                        <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                        <form>
                            <div class="input-group">

                                <input type="text" class="form-control">

                                <span class="input-group-btn">

					<button class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>

				    </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>

                </div>
                <!-- /.col-md-3 -->
  {% endif %}
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
              {% endblock %}