{# empty Twig template #}
{% extends "::layout.html.twig" %}
{% block body %}
    <div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="{{ path('home')}}">Home</a>
                        </li>
                        <li>My wishlist</li>
                    </ul>

                </div>

                <div class="col-md-3">
                    <!-- *** CUSTOMER MENU ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Customer section</h3>
                        </div>

                        <div class="panel-body">

                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="{{ path('listecommandes')}}"><i class="fa fa-list"></i> My orders</a>
                                </li>
                                <li class="active">
                                    <a href="{{ path('wishlist')}}"><i class="fa fa-heart"></i> My wishlist</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_profile_edit')}}"><i class="fa fa-user"></i> My account</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_change_password')}}"><i class="fa fa-user"></i> Change password</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout')}}"><i class="fa fa-sign-out"></i> Logout</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** CUSTOMER MENU END *** -->
                </div>

                <div class="col-md-9" id="wishlist">

                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li>Ladies</li>
                    </ul>

                    <div class="box">
                        <h1>My wishlist</h1>
                        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>

                    <div class="row products">
                         {% for produit in produits %}

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{path ('presentation',{'id':produit.id})}}">
                                                <img src="{{ asset("img/product1.jpg")}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{path ('presentation',{'id':produit.id})}}">
                                                <img src="{{ asset("img/product1_2.jpg")}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path ('presentation',{'id':produit.id})}}" class="invisible">
                                    <img src="{{ asset("img/product1.jpg")}}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="{{path ('presentation',{'id':produit.id})}}">Fur coat with very but very very long name</a></h3>
                                    <p class="price">$143.00</p>
                                    <p class="buttons">
                                        <a href="{{path ('presentation',{'id':produit.id})}}" class="btn btn-default">View detail</a>
                                        <a href="{{ path('panierafficher')}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{path ('presentation',{'id':produit.id})}}">
                                                <img src="{{ asset("img/product2.jpg")}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{path ('presentation',{'id':produit.id})}}">
                                                <img src="{{ asset("img/product2_2.jpg")}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path ('presentation',{'id':produit.id})}}" class="invisible">
                                    <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="{{path ('presentation',{'id':produit.id})}}">White Blouse Armani</a></h3>
                                    <p class="price"><del>$280</del> $143.00</p>
                                    <p class="buttons">
                                        <a href="{{path ('presentation',{'id':produit.id})}}" class="btn btn-default">View detail</a>
                                        <a href="{{ path('panierafficher')}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                                <!-- /.text -->

                                <div class="ribbon sale">
                                    <div class="theribbon">SALE</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                                <div class="ribbon new">
                                    <div class="theribbon">NEW</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                                <div class="ribbon gift">
                                    <div class="theribbon">GIFT</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{path ('presentation',{'id':produit.id})}}">
                                                <img src="{{ asset("img/product3.jpg")}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{path ('presentation',{'id':produit.id})}}">
                                                <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path ('presentation',{'id':produit.id})}}" class="invisible">
                                    <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="{{path ('presentation',{'id':produit.id})}}">Black Blouse Versace</a></h3>
                                    <p class="price">$143.00</p>
                                    <p class="buttons">
                                        <a href="{{path ('presentation',{'id':produit.id})}}" class="btn btn-default">View detail</a>
                                        <a href="{{ path('panierafficher')}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{path ('presentation',{'id':produit.id})}}">
                                                <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{path ('presentation',{'id':produit.id})}}">
                                                <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path ('presentation',{'id':produit.id})}}" class="invisible">
                                    <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="{{path ('presentation',{'id':produit.id})}}">Black Blouse Versace</a></h3>
                                    <p class="price">${{ produit.prix}}</p>
                                    <p class="buttons">
                                        <a href="{{path ('presentation',{'id':produit.id})}}" class="btn btn-default">View detail</a>
                                        <a href="{{ path ('panierafficher')}} " class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
{% endfor %}
                        

                        </div>

                    </div>
                    <!-- /.products -->

                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
{% endblock %}