/**
 * This file is part of the FOSCommentBundle package.
 *
 * (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

.fos_comment_thread_show {
    margin-top: 2em;
    padding: 1em 20px;
    width: 472px;
    background: #f0f0f0;
    box-shadow: 0 0 7px #bbb;
    -moz-box-shadow: 0 0 7px #bbb;
    -webkit-box-shadow: 0 0 7px #bbb;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.fos_comment_thread_show h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #a0a0a0;
}
.fos_comment_comment_show {
    color: #555;
}
.fos_comment_comment_metas {
    /*margin: 1.5em 0 0.5em 0;*/
   
    background: #fff;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.fos_comment_comment_body {
    line-height: 1.5em;
     padding: 1em 20px;
     margin: 1.5em 0.5em 0.5em 0.5em;
        color: #333;
    background-color: #f5f5f5;
/*    border-color: #ddd;*/
    border: 1px solid #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.fos_comment_comments .fos_comment_comments {
    margin-left: 2em;
}
.fos_comment_comment_reply {
    text-align: right;
}
.fos_comment_comment_reply.replying {
    text-align: left;
    margin-top: 1em;
    padding: 1em 20px;
/*    background: #d6d6d6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
}
.fos_comment_comment_reply_show_form {
    padding: 2px 5px;
    font-size: 0.8em;
      color: #fff;
  background-color: #4fbfa8;
  border-color: #41b39c;
  text-shadow: 0px 1px 2px #bbb;
  border-radius: 3px;
}
.fos_comment_comment_reply.fos_comment_replying button.fos_comment_comment_reply_show_form {
    display: none;
}
.fos_comment_thread_comments {
    margin-bottom: 1.5em;
}
.fos_comment_reply_prototype {
    display: none;
}
.fos_comment_thread_show > form.fos_comment_comment_form {
    margin-bottom: 1em;
}
form.fos_comment_comment_form.processing {
    opacity: 0.5;
}
form.fos_comment_comment_form label.author_name {
    margin-top: 3px;
    float:left;
}
form.fos_comment_comment_form label.author_name input {
    padding: 2px 5px;
}
form.fos_comment_comment_form textarea {
   width: 98%;
    height: 6em;
    padding: 1%;
    

}


form.fos_comment_comment_form.error textarea {
    border-color: red;
    
}
.fos_comment_form_errors {
    color: #ff0000;
}
.fos_comment_submit {
    text-align: right;
    
}
.fos_comment_submit input {
    font-size: 1.2em;
    padding: 3px 12px;
/*    margin-top: 3px;*/
/*           color: #fff;
  background-color: #4fbfa8;
  border-color: #41b39c;*/
  text-shadow: 0px 1px 2px #bbb;
/*  border-radius: 3px;*/
  
      color: #ffffff;
    background-color: #4fbfa8;
    border-color: #41b39c;
        padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    
}
a.fos_comment_thread_feed {
    width: 16px;
    height: 16px;
    display: block;
    float: right;
}
.fos_comment_comment_voting {
    float: right;
}
.fos_comment_comment_score {
    display: inline-block;
}
.fos_comment_comment_voting button{
     color: #333;
    background-color: #fff;
    border-color: #ccc;
     border-radius: 3px;
}