{# empty Twig template #}
{% extends "::layout.html.twig" %}
{% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('css/rating.css') }}" />     
            
            
            
            
            <link href="{{ asset("css/font-awesome.css") }}" rel="stylesheet">
            <link href="{{ asset("css/bootstrap.min.css") }}" rel="stylesheet">
            <link href="{{ asset("css/animate.min.css")}}" rel="stylesheet">
            <link href="{{ asset("css/owl.carousel.css") }}" rel="stylesheet">
            <link href="{{ asset("css/owl.theme.css") }}" rel="stylesheet">
            <!-- theme stylesheet -->
            <link href="{{ asset("css/style.default.css") }}" rel="stylesheet" id="theme-stylesheet">

            <!-- your stylesheet with modifications -->
            <link href="{{ asset("css/custom.css") }}" rel="stylesheet"> 
            <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>
        {% endblock %}
        {% block javascripts %}

        <script src="{{ asset("js/respond.min.js") }}"></script>
        <!-- *** SCRIPTS TO INCLUDE ***
        _________________________________________________________ -->
        <script src="{{ asset("js/jquery-1.11.0.min.js") }}"></script>
        <script src="{{ asset("js/bootstrap.min.js") }}"></script>
        <script src="{{ asset("js/jquery.cookie.js") }}"></script>
        <script src="{{ asset("js/waypoints.min.js") }}"></script>
        <script src="{{ asset("js/modernizr.js") }}"></script>
        <script src="{{ asset("js/bootstrap-hover-dropdown.js") }}"></script>
        <script src="{{ asset("js/owl.carousel.min.js") }}"></script>
        <script src="{{ asset("js/front.js") }}"></script>

        
        
        
        
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('js/rating.js') }}"></script>
<script src="{{ asset('js/rating.js') }}"></script>
    {% endblock %}
{% block description %}{{produit.description}}{% endblock %}
{% block title %}{{produit.nom}}{% endblock %}

{% block body %}

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">Ladies</a>
                    </li>
                    <li><a href="#">Tops</a>
                    </li>
                    <li>{{ produit.nom }}</li>
                </ul>

            </div>

            <div class="col-md-3">
                <!-- *** MENUS AND FILTERS ***_________________________________________________________ -->

                {% include "TunisiamalltunisiamallBundle:Default:modulesUsed/menufiltres.html.twig" %}
            </div>

            <div class="col-md-9">

                <div class="row" id="productMain">
                    <div class="col-sm-6">
                        <div id="mainImage">
                            <img src="{{ asset (''~ produit.photo)}}" alt="" class="img-responsive">
                        </div>

                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                    </div>
                    <div class="col-sm-6">
                        <div class="box">
                            {% if produit.prix!=produit.prix|reduction(produit.tauxReduction) %}
                            <h1 class="text-center">{{ produit.nom }}  <del> ($ {{produit.prix}})</del> </h1>  
                            <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
                          
                            </p>
                              
                                <p class="price">${{ produit.prix|reduction(produit.tauxReduction)}}</p>

                            {% else %}
                            <h1 class="text-center">{{ produit.nom }} </h1>  
                            <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
                          
                            </p>
                              
                                <p class="price"> ${{ produit.prix}}</p>
                                {% endif %} 
                              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                 {% if panier[produit.id] is not defined %}
                            <form action="{{ path('ajouter', { 'id' : produit.id }) }}" method="get">
                            <p class="text-center buttons">
                                <select name="qte" class="span1">
                                {% for i in 1..10 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
</p>
                               <p class="text-center buttons">
                                <button class="btn btn-primary">Add to card</button>
                             </p>
                        </form>
                            
                            {% else %} 
                                <a href="{{path('panier')}}" > This product is already in your shopping cart </a>{% endif %} 
                             <p class="text-center buttons">
                             {#   <a href="{{path ('ajouter',{'id':produit.id})}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a> #}
                                <a href="{{path ('wishlist')}}" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </p>
                            
                             
                            
                              {% else %} 
                            
                            
                            <form action="" method="">
                            <p class="text-center buttons">
                               
</p>
                               <p class="text-center buttons">
                                <button class="btn btn-primary">You must sign up to add this in your card.</button>
                             </p>
                        </form>
                            
                         
                               
                             <p class="text-center buttons">
                             {#   <a href="{{path ('ajouter',{'id':produit.id})}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a> #}
                                <a href="{{path ('wishlist')}}" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a>
                            </p>
                            
                              {% endif%} 
                            
                

                        </div>

                        <div class="row" id="thumbs">
                            <div class="col-xs-4">
                                <a href="{{ asset(''~ produit.photo)}}" class="thumb">
                                    <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="{{ asset(''~ produit.photo)}}" class="thumb">
                                    <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="{{asset(''~ produit.photo)}}" class="thumb">
                                    <img src="{{asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="box" id="details">
                        
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id':produit.id} %}

{% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : produit.id} %}
               <p>
                    <h4>Product details</h4>
                    <p>{{produit.description}}</p> 
                    <h4>Material & care</h4>
                    <ul>
                        <li>Polyester</li>
                        <li>Machine wash</li>
                    </ul>
                    <h4>Size & Fit</h4>
                    <ul>
                        <li>Regular fit</li>
                        <li>{{produit.taille}}</li>
                    </ul>

                    <blockquote>
                        <p><em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
                        </p>
                    </blockquote>

                    <hr>
                    <div class="social">
                        <h4>Show it to your friends</h4>
                        <p>
                            <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                        </p>
                        
               
                       "{{ googleplusButton( {'locale':'fr', 'url':'http://google.fr' }) }}"
                       "{{ socialButtons( { 'facebook': {'locale':'fr_FR', 'send':true}} ) }}"

                    </div>
             
                </div>

                <div class="row same-height-row">
                    <div class="col-md-3 col-sm-6">
                        <div class="box same-height">
                            <h3>You may also like these products</h3>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{path ('presentation',{'id':produit.id})}}">
                                            <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="{{path ('presentation',{'id':produit.id})}}">
                                            <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="{{path ('presentation',{'id':produit.id})}}" class="invisible">
                                <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>Fur coat</h3>
                                <p class="price">$143</p>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{path ('presentation',{'id':produit.id})}}">
                                            <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="{{path ('presentation',{'id':produit.id})}}">
                                            <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="{{path ('presentation',{'id':produit.id})}}" class="invisible">
                                <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>Fur coat</h3>
                                
                                <del> produit.prix</del>
                                <p class="price">${{ produit.prix|reduction(produit.tauxReduction)}}</p>
                                
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{path ('presentation',{'id':produit.id})}}">
                                            <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="{{path ('presentation',{'id':produit.id})}}">
                                            <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="{{path ('presentation',{'id':produit.id})}}" class="invisible">
                                <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>{{ produit.nom}}</h3>
                                <p class="price">${{ produit.prix}}</p>

                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                </div>

                <div class="row same-height-row">
                    <div class="col-md-3 col-sm-6">
                        <div class="box same-height">
                            <h3>Products viewed recently</h3>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{path ('presentation',{'id':produit.id})}}">
                                            <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="{{path ('presentation',{'id':produit.id})}}">
                                            <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="{{path ('presentation',{'id':produit.id})}}" class="invisible">
                                <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>{{ produit.nom}}</h3>
                                <p class="price">${{ produit.prix}}</p>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{path ('presentation',{'id':produit.id})}}">
                                            <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="{{path ('presentation',{'id':produit.id})}}">
                                            <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="{{path ('presentation',{'id':produit.id})}}" class="invisible">
                                <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>{{ produit.nom}}</h3>
                                <p class="price">${{ produit.prix}}</p>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{path ('presentation',{'id':produit.id})}}">
                                            <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="{{path ('presentation',{'id':produit.id})}}">
                                            <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="{{path ('presentation',{'id':produit.id})}}" class="invisible">
                                <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>{{ produit.nom}}</h3>
                                <p class="price">${{ produit.prix}}</p>

                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                </div>

            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
{% endblock %}