{# empty Twig template #}
{% extends "::layout.html.twig" %}

{% block body %}
<div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li>Ladies</li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <!-- *** MENUS AND FILTERS ***____________________________________________________ -->
                         
                    {% include "TunisiamalltunisiamallBundle:Default:modulesUsed/menufiltres.html.twig" %}
            
                          
                </div>
{% if produits|length !=0 %}
    
    
    {# paginator 
    <div class="count">
    {{ produits.getTotalItemCount }}
</div>
    
    {{ knp_pagination_sortable(produits, 'Id', 'a.id') }}</th
{{ knp_pagination_sortable(produits, 'nom', 'a.nom') }}
  
 paginator #}

                <div class="col-md-9">
                    <div class="box">
                        <h1>Tunisia Mall</h1>
                        <p>we offer wide selection of the best products we have found and carefully selected worldwide.</p>
                    </div>

                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 products-showing">
                                Showing <strong>6</strong> of <strong>{{ produits.getTotalItemCount }}</strong> products
                            </div>
{#
                            <div class="col-sm-12 col-md-8  products-number-sort">
                                <div class="row">
                                    <form class="form-inline">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="products-number">
                                                <strong>Show</strong>  <a href="#" class="btn btn-default btn-sm btn-primary">9</a>  <a href="#" class="btn btn-default btn-sm">6</a>  <a href="#" class="btn btn-default btn-sm">All</a> products
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="products-sort-by">
                                                <strong>Sort by</strong>
                                                <select name="sort-by" class="form-control">
                                                    <option>Price : low to high</option>
                                                    <option>Price : high to low</option>
                                                    <option>Name</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
#}
                        </div>
                    </div>

                    <div class="row products">
 {% for produit in produits %}
     
                        <div class="col-md-4 col-sm-6">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{path ('presentation',{'id':produit.id})}}">
                                                <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{path ('presentation',{'id':produit.id})}}">
                                                <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path ('presentation',{'id':produit.id})}}" class="invisible">
                                    <img src="{{ asset(''~ produit.photo)}}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="{{path ('presentation',{'id':produit.id})}}">{{ produit.nom }}</a></h3>
                                    <p class="price">{{ produit.prix }}</p>
                                    <p class="buttons">
                                        <a href="{{path ('presentation',{'id':produit.id})}}" class="btn btn-default">View detail</a>
                                        
                                        {% if panier[produit.id] is not defined %}
                                   <a href="{{path ('ajouter',{'id':produit.id})}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                {% endif %}
                                        
                                        
                                       
                                    </p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                      

                       {% endfor %}
                        <!-- /.col-md-4 -->
                    </div>
                    <!-- /.products -->
 <div class="navigation">
                    {{ knp_pagination_render(produits) }}
                </div>
                
                </div>
                <!-- /.col-md-9 -->
                 {% else %}
                       <div class="col-md-9">
                        <div class="box">
                        <h1>No products </h1>
                        <p>Sorry...</p>
                    </div>
                           </div>
{% endif %}

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        
        
        {% endblock %}