<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>3D Gallery Room</title>
		<meta name="description" content="Add a description" />
		<meta name="keywords" content="Add keywords" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="{{ asset("cssroom/default.css")}}" />
		<link rel="stylesheet" type="text/css" href="{{ asset("cssroom/component.css")}} "/>
		<script src="{{ asset("jsroom/modernizr.custom.js")}}"></script>
	</head>
	<body>
		<div class="container">	
			<!-- Codrops top bar -->
			<div class="codrops-top clearfix">
				<a href="{{ path('produits')}}"><strong>&laquo; Go to products</strong></a>
				<span class="right"><a href="">Enjoy watching our products</a></span>
			</div><!--/ Codrops top bar -->

			<h1>Tunisiamall <a href="{{path('home')}}">Return to HomePage</a> </h1>

			<div id="gr-gallery" class="gr-gallery">
				<div class="gr-main">
				{% for produit in produits %}	
                                    <figure>
						<div>
							<img src="{{ asset (''~ produit.photo)}}" alt="" />
						</div>
						<figcaption>
							<h2><span>{{ produit.nom }} ,${{ produit.prix|reduction(produit.tauxReduction)}}</span></h2>
							<div><p>   <p>
                    <h4>Product details</h4>
                    <p>{{produit.description}}</p>
                    <h4>Material & care</h4>
                    <ul>
                        <li>Polyester</li>
                        <li>Machine wash</li>
                    </ul>
                    <h4>Size & Fit</h4>
                    <ul>
                        <li>Regular fit</li>
                        <li>{{produit.taille}}</li>
                    </ul></p></div>
						</figcaption>
					</figure>
                                    {% endfor %}	
				</div>
			</div>
		</div><!-- /container -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="{{ asset("jsroom/wallgallery.js")}}"></script>
		<script>
			$(function() {

				Gallery.init( {
					layout : [3,2,3,2]
				} );

			});
		</script>
	</body>
</html>
