body {
	background: #810606;
	background: -moz-linear-gradient(top, #810606 0%, #810606 85%, #874d2b 85%, #874d2b 100%);
	background: -webkit-linear-gradient(top, #810606 0%,#810606 85%,#874d2b 85%,#874d2b 100%);
	background: -o-linear-gradient(top, #810606 0%,#810606 85%,#874d2b 85%,#874d2b 100%);
	background: -ms-linear-gradient(top, #810606 0%,#810606 85%,#874d2b 85%,#874d2b 100%);
	background: linear-gradient(to bottom, #810606 0%,#810606 85%,#874d2b 85%,#874d2b 100%);
}

.no-js body {
	overflow: auto;
	background: #810606;
}

.js .gr-gallery {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gr-room {
	position: absolute;
	top: 0;
	width: 100%;
	height: 85%;
	text-align: center;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.gr-wall-main,
.gr-wall-other {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	background: #810606 url(../images/damask.jpg) 0px 0px;
}

.gr-wall-main {
	left: 0;
}

.gr-floor {
	position: absolute;
	top: 100%;
	left: 0;
	height: 30%;
	width: 100%;
	background: #874d2b url(../images/floor2.jpg) repeat-x 0px 0px;
}

.gr-gallery figure {
	position: absolute;
	-webkit-transform-style: preserve-3d;
}

.no-js .gr-gallery figure {
	display: inline-block;
	position: relative;
	margin: 20px;
}

.gr-gallery figure::before {
	content: '';
	position: absolute;
	width: 180%;
	height: 150%;
	top: -45%;
	left: -40%;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.4) 23%, rgba(255,255,255,0) 66%);
	pointer-events: none;
	opacity: 0.5;
}

.gr-gallery figure div,
.gr-gallery figure img,
.gr-gallery figcaption {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.gr-gallery figure div {
	position: relative;
}

.gr-gallery figure img {
	display: block;
	margin: 0 auto;
	border-style: solid;
	border-width: 24px;
	border-color: transparent;
	-moz-border-image: url(C:/wamp2.4/www/TunisiaMallLebes/web/images/frame.jpg) 69 74 69 64 fill repeat;
	-webkit-border-image: url(C:/wamp2.4/www/TunisiaMallLebes/web/images/frame.jpg) 69 69 70 66 repeat;
	-o-border-image: url(C:/wamp2.4/www/TunisiaMallLebes/web/images/frame.jpg) 69 69 70 66 repeat;
	border-image: url(C:/wamp2.4/www/TunisiaMallLebes/web/images/frame.jpg) 69 69 70 66 fill repeat;
}

.gr-gallery figcaption {
	width: 80px;
	display: block;
	font-size: 5px;
	background: #661414;
	color: #fff;
	padding: 10px;
	margin-top: 20px;
	position: relative;
	text-align: left;
	cursor: -webkit-zoom-in; 
	cursor: -moz-zoom-in;
}

.gr-gallery figcaption h2 span {
	display: inline-block;
	margin: 0 2px;
}

.gr-gallery figcaption div {
	display: none;
}

.gr-gallery nav {
	position: absolute;
	width: 300px;
	height: 38px;
	bottom: 6%;
	left: 50%;
	margin-left: -150px;
	z-index: 0;
	cursor: pointer;
}

.gr-gallery nav span {
	width: 90px;
	height: 100%;
	background: url(../images/steps.png);
	float: left;
	text-indent: -100%;
	overflow: hidden;
	opacity: 0.6;
}

.gr-gallery nav span:hover {
	opacity: 1;
}

.gr-gallery nav span.gr-next {
	background-position: top right;
	float: right;
}

.gr-caption {
	position: absolute;
	width: 500px;
	height: 280px;
	padding: 40px;
	left: 50%;
	margin-left: -250px;
	bottom: 0;
	background: #fff;
	box-shadow: 0 -1px 3px rgba(0,0,0,0.3);
	-webkit-transform: translateY(310px);
	-webkit-transition: -webkit-transform .5s ease;
	-moz-transform: translateY(310px);
	-moz-transition: -moz-transform .5s ease;
	-o-transform: translateY(310px);
	-o-transition: -o-transform .5s ease;
	transform: translateY(310px);
	transition: transform .5s ease;
}

.gr-caption-close {
	position: absolute;
	top: 10px;
	right: 10px;
	background: #fff;
	color: #999;
	width: 20px;
	height: 20px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	line-height: 16px;
	font-size: 14px;
	box-shadow: 0 0 6px -1px rgba(0,0,0,0.3);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.gr-caption-close:hover {
	color: #555;
	box-shadow: 0 0 8px -1px rgba(0,0,0,0.6);
}

.gr-caption h2 {
	border-bottom: 1px solid rgba(0,0,0,0.3);
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
	font-family: 'Alegreya SC', cursive;
	font-weight: 700;
}

.gr-caption-inner > div {
	overflow: hidden;
	overflow-y: auto;
	max-height: 160px;
}

.gr-caption dl:before,
.gr-caption dl:after  {
	content: " ";
	display: table;
}

.gr-caption dl:after {
	clear: both;
}

.gr-caption dt {
	font-weight: 700;
}

.gr-caption dt, 
.gr-caption dd { 
	float: left;
	width: 50%;
	padding: 7px 0 0 0;
	font-size: 13px;
	text-transform: uppercase;
}