{% extends "::layout.html.twig" %} 

{% block body %}
<div class="container">
    <div class="row">

        <div class="span3">
            
           
            </div>				
            <div class="span9">
                
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-errors">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                
                <h2>Factures</h2>
                <form>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Date</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if factures|length == 0 %}
                                <tr>
                                    <td colspan="4"><center>No .</center></td>
                                </tr>
                            {% endif %}
                            {% for facture in factures %}
                            <tr>
                                <td>ref : {{ facture.reference }}</td>
                                <td>{{ facture.date|date('d/m/Y') }}</td>
                                <td>{{ facture.commande.prixreduc }} €</td>
                                <td><a href="{{ path('facturesPDF', { 'id' : facture.id }) }}" target="_blank"><i class="icon-refresh"> print</i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>

            </div>

        </div>
    </div>
{% endblock %}