<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Facture</title>
        <link href="{{ pathDefault }}css/facture.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Tunisia Mall</h1>
     
        <table id="enTete">
            <tr>
                <td colspan="1"></td>
               {# <td colspan="1"><h1>Facture</h1></td> #}
                <td colspan="1"></td>
            </tr>
            <tr>
              {#  <td width="80">Page</td> #}
                <td width="100">Date</td>
                <td width="120">Ref</td>
            </tr>
            <tr>
             {#   <td class="color">[[page_nb]]</td> #}
                <td class="color">{{ facture.date|date('d-m-Y') }}</td>
               <td class="color">{{ facture.reference }}</td>
            </tr>
        </table>
        <ul id="coordonnes">
            <li>{{ facture.commande.facturation.nom }} {{ facture.commande.facturation.prenom }}</li>
            <li>{{ facture.commande.facturation.adresse}}</li>
            <li>{{ facture.commande.facturation.zip }} {{ facture.commande.facturation.ville }} - {{ facture.commande.facturation.pays }}</li>
        </ul>
           <table id="entity">
            <tr>
                <td width="280">Designation</td>
                <td width="105">Quantity</td>
                <td width="100">Price</td>
                <td width="105">Total Price</td>
                <td width="105">Total price with reduction</td>
            </tr>
             {% for produit in facture.commande.produit %} 
                <tr>
                    <td class="color"> {{produit.nom}} </td>
                    <td class="color"> {{produit.quantite }}</td>
                    <td class="color"> {{produit.prix}}  €</td>
                    <td class="color"> {{produit.prix *produit.quantite }} €</td>
                    <td class="color"> {{produit.prix|reduction(produit.tauxreduction) * produit.quantite}} €</td>
                </tr>
                {% endfor %} 
        </table>
        
        <table id="total">
            <tr>
                <td width="110">TOTAL:</td>
                <td width="100" class="color">{{ facture.commande.prixtotal }} €</td>
            </tr>
            {% for key, reduction in facture.commande.reduction %}
            <tr>
                <td width="110">reduction<span class="color min">{{ key }}</span> :</td>
                <td width="100" class="color">{{ reduction }} €</td>
            </tr>
            {% endfor %}
            
            
            
            
            
            <tr>
                <td width="110">TOTAL with reduc:</td>
                <td width="100" class="color">{{ facture.commande.prixreduc }} €</td>
            </tr>
        </table>
       
        <div id="footer">
            <span class="color strong">{{ adresse }}</span>
            <br />
            {{ telephone }}
        </div> 
    </body>
</html>
        
